<h1><%= @thing.name %></h1>
<section class="thing-info">
  <p><%= @thing.description %></p>
  <%= image_tag @thing.image_url %>
</section>

<div style="clear: both">
  <strong>Rating: <%= @thing.average_rating || 'Not yet rated' %></strong>
</div>
<ul class="opinions-list">
  <%= render @thing.opinions %>
</ul>